{% extends 'C2JEasySaisieBundle::base.html.twig' %}


{% block body %}
    {{ parent() }}
    <h1>Créer un silot d'UEs</h1>

    {{ form(form) }}

    <hr />
    
    <div class="row">
        <p class="center">            
            <a href="{{ path('container') }}" class="btn btn-purple btn-sm"><span class="glyphicon glyphicon-hand-left"></span> Retour à la liste</a>
        </p>
    </div>
</ul>
{% endblock %}
