{% extends 'C2JEasySaisieBundle::base.html.twig' %}


{% block body %}
    {{ parent() }}
    <h1>Container creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('container') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
