{% extends 'C2JEasySaisieBundle::base.html.twig' %}


{% block body %}
    {{ parent() }}
    
    <h1 class="page-header">Sélectionnez une promotion</h1>
    
    <table class="sortable">
    	<thead>
    		<th>Année</th>
    		<th>Promotion</th>
    	</thead>
    	<tbody>
			{% for entity in entities %}
			<tr class="clickableRow" href="{{ path('homepage', { 'id': entity.id }) }}">
				<td>{{ entity.year }}</td>
				<td>{{ entity.promotion }}</td>
			</tr>
			{% endfor %}
		</tbody>
    </table>
{% endblock %}
    
