{% extends 'C2JEasySaisieBundle::base.html.twig' %}

{% block body %}

    {{ parent() }}
        
    <h1 class="page-header">Sélectionnez une promotion</h1>
    
    <table class="table table-striped table-bordered table-hover sortable">
    	<thead>
    		<th data-placeholder="Chercher ...">Année</th>
    		<th data-placeholder="Chercher ...">Promotion</th>
    	</thead>
    	<tbody>
			{% for entity in entities %}
				<tr class="clickableRow" href="{{ path('mark_list', { 'year': entity.promotion.year, 'promotion_id': entity.promotion.id, 'session' : 1 }) }}">
					<td>{{ entity.promotion.year }}</td>
					<td>{{ entity.promotion }}</td>
				</tr>
			{% endfor %}
		</tbody>
    </table>
{% endblock %}
    
